*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
.pottery_pic{
    width: 27px;
    height: 24px;
}
.fontstyle{
    color: white;
}
.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 73px;
}
.product_image{
    width: 275px;
    height: 240px;
}
.hr_product{
    margin-left: 0;
    width: 60%;
    border: 2px solid black;
}
.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.home{
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
}
.learn_more{
    color: #bf7631;
}
#textboxid{
    height: 75px;
}
.footer_format{
    background-color: #bf7631;
    text-align: center;
}
